.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  align-items: center;
  justify-items: center;
}

.description{
  font-size: 32px
}

.email{
  color: black
}

.image figure{
  width: 100%;
}

.image figure img{
  width: 100%;
}